@media (max-width:768px){


     .heading_lg{
        font-size: 66px;
     }
     .contact{
        width: 100%;
        height: auto;
        padding: 44px 0px;
     }
     
}



@media (max-width:1360px){
    .img-about{
        width: 480px;
     } 
     #about h2{
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 50px;
    }
    .contact{
        width: 100%;
        height: auto;
        padding: 44px 0px;
     }
}

@media(max-width:400px){
    #project{
        padding: 50px;
    }
    #project h2{
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 50px;
    }
    .card{
        margin-bottom: 20px;
    }
    .card h5{
        font-size: 20px;
        padding-bottom: 20px;
        font-weight: 700;
    }
    .card p{
        font-family: "Lato", sans-serif;
    }
    .contact{
        width: 100%;
        height: auto;
        padding: 44px 0px;
     }
}